modify_topbody{
	background:#f5f3ef;
}








/* Admin button 管理按钮 */
.admin_con{
	width:100%;
	height:3.6rem;
	background:#fff;
	position:fixed;
	bottom:0rem;
	z-index:1000;
	/* border-top:1px solid #e7e6e4; */
}
.admin_con a{
	text-align:center;
	float:left;
	width:25%;
	height:3.9rem;
	border-top:4px solid #fcfbf9;
}
.admin_con a p{
	color:#3e3e3e;
	font-size:0.6rem;
}
.admin_con  a p img{
	width:1.5rem;
	height:1.5rem;
	margin-top:0.7rem;
}
.admin_con a .admin_one{
	display:block;
}
.admin_con a .admin_two{
	display:none;
}







/* hover时变样式 */
.admin_con a.active{
	border-top:4px solid #f39800;
}
.admin_con a.active .admin_one{
	display:none;
}
.admin_con a.active .admin_two{
	display:block;
}
.admin_con a.active p:last-of-type{
	color:#ed860a;
}









/* property banner 住这儿的banner */
.banner{
	width:100%;
	height:15rem;
	border-bottom:2px solid #e0ddda;
	position:relative;
}
.banner img{
	width:100%;
	height:15rem;
}








/* banner 图片上的盒子 */
.banner_box{
	position:fixed;
	background: #fff;
	top:0;
	width:100%;
	height:2.8rem;
	border-bottom:1px solid #9c9a96;
}





/* 文字 word */
.banner .banner_word{
	color:#fff;
	position:absolute;
	top:0.8rem;
	color: #333;
	left:30%;
	font-size:0.8rem;
}







/* 信息 news */
.banner .banner_news img{
	width:1rem;
	height:1.1rem;
}
.banner .banner_news{
	position:absolute;
	top:0.9rem;
	left:5%;
}





/* property_con   住这儿的管理内容 */
.property_manage{
	clear:both;
}









/* property_con   住这儿的管理的每个小块 */
.property_manage a{
	width:48%;
	margin-top:0.4rem;
}









/* every 每个小块的样式 */
.life{
	background:#97d35d;
	float:left;
}
.manage{
	background:#fcb6d9;
	float:right
}
.phone{
	background:#fab869;
	float:right
}
.parcel{
	background:#76f7d4;
	float:left;
}









/* word left小块里边的字和图片 */
.organize_left{
	color:#fff;
	float:left;
	width: 45%;
	margin-left:0.8rem;
}
.organize_left .one{
	margin-top:1rem;
	font-size: 0.725rem;
	font-weight:bold;
}
.organize_left .two{
	font-size: 0.6rem;
	
}








/* word right小块里边的字和图片 */
.organize_right{
	float:right;
	margin-top:0.8rem;
	margin-right:0.6rem;
	margin-bottom:0.8rem;
}
.organize_right img{
	width:2rem;
	height:2rem;
}







/* content */
.content{
	width:100%;
	border-top:2px solid #e7e6e4;
	border-bottom:2px solid #e7e6e4;
	margin-bottom:4.9rem;
	clear:both;
}







/* 盒子 */
.box{
	width:94%;
	margin:0 auto;
}








/* 信息以及内容 */
.name{
	width:100%;
	height:3rem;
}
.name img{
	display:block;
	width:1.6rem;
	margin-top:0.7rem;
}
.name span{
	font:0.8rem/3rem 'Microsoft Yahei';
}
.name span:first-of-type{
	margin:0 0.5rem;
}
.name span:nth-of-type(2){
	color:#a1a09e;
}
.name span:last-of-type{
	color:#ff9500;
}







/* 图片 */
.prompt{
	width:100%;
	display:block;
	margin-top:0.6rem;
}






/* 时间 */
.timess{
	width:100%;
	height:2rem;
	font:0.6rem/2rem 'Microsoft Yahei';
	color:#888785;
}








/* fresh */
.fresh{
	clear:both;
	width:100%;
	height:3rem; 
	font:1rem/3rem 'Microsoft Yahei';
	padding-left:5%;
}








/* wuyeMe */
.myself{
	width:100%;
	height:12rem;
	background:url("../images/banner_two.jpg") no-repeat;
	background-size: 100% 100%;
	position: relative;
	clear:both;
}










/* wuye touxiang 物业我的里的头像 */
.myself_top{
	width:100%;
	height:12rem;
}











/* 上次的头像 */
.file {
	width:5rem;
	height:5rem;
	background:#fff;
	margin: 0 auto;
	position: relative;
	display: inline-block;
	background: white;
	border-radius:50%;
	overflow: hidden;
	text-decoration: none;
	text-indent: 0;
	margin-bottom: 0.65rem;
	line-height: 1rem;
	color: #000;
	top:2.2rem;
	left: 50%;
	margin-left: -2.35rem;
	clear:both;
}

/* 头像区域 */
.file p{
	background:#fff;
	border-radius:50%;
}









/* 输入的头像 */
.file input {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 999;
	right: 0;
	top: 0;
	opacity: 0;
}










/* 名称 */
.myself_word{
	position: absolute;
	bottom:1.2rem;
	text-align:center;
	left:38%;
}
.myself_word p:first-of-type{
	color:#fcfbf9;
	font-size:0.8rem;
}
.myself_word p:nth-of-type(2){
	color:#fcfbf9;
	font-size:0.8rem;
	margin-top:0.5rem;
}








/* 箭头 */
.arrow{
	width:0.75rem;
	height:1.2rem;
	position:absolute;
	right:1.6rem;
	font-size:1.6rem;
	color:#fff;
	line-height:2.8rem;
	cursor:pointer;
}








/* 身份和人数 */
.myself_nows{
	height:3.1rem;
	width:100%;
	border-bottom:2px solid #e0ddda;
}








/* now_left */
.now_left{
	text-align:center;
	width:48%;
	height:100%;
	border-right:2px solid #e0ddda;
	float:left;
}
.now_left p:first-of-type{
	margin-top:1.1rem;
}
.now_left p:nth-of-type(2){
	margin-top:0.1rem;
	color:#ef982f;
}





/* now_right */
.now_right{
	text-align:center;
	width:48%;
	height:100%;
	float:right;
}
.now_right p:first-of-type{
	margin-top:1.1rem;
}
.now_right p:nth-of-type(2){
	margin-top:0.25rem;
	color:#ef982f;
}





/* 个人资料 self——means */
.self_means .daturn_top{
	width:100%;
	height:3.8rem;
	background:#fff;
}
.self_means .daturn_top:first-of-type{
	text-align: center;
	line-height:3.8rem;
	border-bottom:1px solid #e0ddda;
}
.self_means .daturn_top:first-of-type span:first-of-type{
	position:absolute;
	left:0.8rem;
	font-size:0.6rem;
	color:#f39800;
}
.self_means .daturn_top:first-of-type span:nth-of-type(2){
	color:#3c3c3c;
	font-size:0.8rem;
}





/* 个人资料 名字和住址 */
.wuye_head{
	width:5rem;
	height:5rem;
	border-radius:50%;
	background:#eee;
	margin:0 auto;
	margin-top:1.5rem;
}





/* 游客修改的信息 */
.daturn_bottom p{
	text-align:center;
	margin-top:0.4rem;
}
.daturn_bottom p:first-of-type{
	font-size:0.8rem;
}
.daturn_bottom p:last-of-type{
	font-size:0.6rem;
}







/* 修改按钮 button */
.put{
	width:10.75rem;
	height:1.98rem;
	background:#ed860a;
	margin:0 auto;
	border-radius:0.4rem 0.4rem;
	margin-top:1.2rem;
	line-height:1.8rem;
	text-align:center;
	color:#fff;
	font-size:0.6rem;
}





/* 编辑资料 modify */
.modify_top{
	height:3rem;
	line-height:3rem;
	text-align:center;
	background:#fff;
}
.modify_top span:first-of-type{
	font-size:0.6rem;
	position:absolute;
	left:0.8rem;
	top:0;
	color:#f1a549;
}
.modify_top span:nth-of-type(2){
	font-size:0.8rem;
	color:#393939;

}








/* 每个修改的input框 */
.modify input[type="text"]{
	width:100%;
	height:2rem;
	border:none;
	padding-left:0.5rem;
}
.modify input:first-of-type{
	border-top:2px solid #e0ddda;
	border-bottom:1px solid #e0ddda;
	margin-top:4rem;
}
.modify input:nth-of-type(2){
	border-top:1px solid #e0ddda;
	border-bottom:2px solid #e0ddda;
}
.modify input:nth-of-type(3){
	border-bottom:2px solid #e0ddda;
}
.modify input:nth-of-type(4){
	margin-top:1.2rem;
	margin-left:38%;
}
.modify input:nth-of-type(5){
	margin-top:1.2rem;
	margin-left:0.6rem;
}







/* 提交按钮 （物业） */
.submit{
	width:80%;
	height:2rem;
	line-height:2rem;
	text-align:center;
	color:#fff;
	margin:0 auto;
	margin-top:1.6rem;
	background:#ee9121;
	border-radius:0.4rem 0.4rem;
}









/*
     住户管理
 */
.zhgl {
	margin: 0 0 4.1rem;
}
.zhgl h2{
	text-align: center;
	font-size: 0.8rem;
	height: 2.5rem;
	line-height: 2.5rem;
	font-family: "microsoft yahei";
	font-weight: 500;
	border-bottom: 1px solid #ccc;
	background: #46a1ff;
	color: #fff;
}
.zhgl .tjgl,.zhgl .sytj{
	height: 2.75rem;
	line-height: 2.75rem;
	padding: 0 0 0 1rem;
	font-size: 0.75rem;
	color: #707070;
	border-bottom: 1px solid #d4d4d4;
}
.zhgl .tjgl img,.zhgl .sytj img{
	width: 1rem;
	vertical-align: middle; 
	margin: 0 0.2rem 0 0;
}
.zhgl .sytj{
	border-bottom: none;
}
.zhgl .tjglk{
	display: none;
}
.zhgl .tjglk div{
	padding: 0 0 0 1rem;
	margin:  0.2rem 0;
}
.zhgl .tjglk input{
	outline: none;
	width: 10rem;
	height: 1.5rem;
	padding: 0 0 0 0.5rem;
	margin: 0 0 0 0.5rem;
	border:1px solid #ccc;
	border-radius: 0.5rem;
}
.zhgl .tjglk button{
	width: 4rem;
	height: 1.5rem;
	background: #46a1ff;
    color: #fff;
    display: block;
    margin: 0.5rem auto;
	border-radius: 0.5rem;
	outline: none;
}
.zhgl .zhlist li{
	width: 90%;
	margin: 0 auto 0.75rem;
	padding: 0 0 0 5%;
	background: #fff;
	overflow: hidden;
	border-radius: 0.25rem;
	box-shadow: 0px 3px 7px 3px #c2bfbf;
}
.zhgl .zhlist li p{
	float: left;
	width: 100%;
	height:1.5rem;
	line-height:1.5rem;
	margin: 0;
	font-size: 0.625rem;
}
.zhgl .zhlist li p:first-of-type{
	font-size: 0.8rem;
	margin: 0.25rem 0;
}









/* 物业   邮包 */
.add_parcel{
	width:100%;
	height:2.4rem;
	border-bottom:1px solid #ccc;
	padding-top: 3.1rem;
}
.add_parcel img{
	width:1.2rem;
	margin:0.65rem 0.3rem 0.5rem 0.5rem;
}
.add_parcel span{
	font:0.8rem/2.4rem 'Microsoft Yahei';
}


.parcels{
	margin-bottom:4.2rem;
}
.all_parcel{
	width:100%;
	height:2.4rem;
	border-bottom:1px solid #ccc;
}
.all_parcel img{
	width:1.2rem;
	margin:0.65rem 0.3rem 0.5rem 0.5rem;
}
.all_parcel span{
	font:0.8rem/2.4rem 'Microsoft Yahei';
}
.user_message{
	width:13.6rem;
	margin:0.8rem auto;
	box-shadow: 0px 3px 7px 3px #c2bfbf;
	padding:0.3rem 0.5rem;
	border-radius: 0.25rem;
}
.user_message p{
	font:0.6rem/1.2rem 'Microsoft Yahei';
}
.user_message p:first-child{
	font:0.8rem/1.5rem 'Microsoft Yahei';
	border-bottom:1px solid #ccc;
}

.user_message p.did{
	background:#46a1ff;
	text-align:center;
	color:#fff;
}
.user_message p.do{
	background:#f00;
	text-align:center;
	color:#fff;
}

.add_package{
	display:none;
}
.add_package div{
	padding: 0 0 0 1rem;
	margin:  0.2rem 0;
}
.add_package input{
	outline: none;
	width: 10rem;
	height: 1.5rem;
	padding: 0 0 0 0.5rem;
	margin: 0 0 0 0.5rem;
	border:1px solid #ccc;
	border-radius: 0.5rem;
}
.add_package button{
	width: 4rem;
	height: 1.5rem;
	background: #46a1ff;
    color: #fff;
    display: block;
    margin: 0.5rem auto;
	border-radius: 0.5rem;
	outline: none;
}