body{
	background:#f5f3ef;
}
/* Admin button 管理按钮 */
.admin_con{
	width:100%;
	height:4.9rem;
	line-height:4.9rem;
	background:#fcfbf9;
	position:fixed;
	bottom:0rem;
	z-index:1000;
}
.admin_con a{
	text-align:center;
	float:left;
	width:25%;
	height:4.9rem;
	color:#3e3e3e;
	border-top:4px solid #fcfbf9;
}
/* hover时变样式 */
.admin_con a:hover{
	color:#ed860a;
	border-top:4px solid #f39800;
}


/* property banner 住这儿的banner */
.banner{
	width:100%;
	height:15rem;
	border-bottom:2px solid #e0ddda;
	position:relative;
}
.banner img{
	width:100%;
	height:15rem;
}
/* banner 图片上的盒子 */
.banner_box{
	position:absolute;
	top:0;
	width:100%;
	height:4.65rem;
	border-bottom:1px solid #9c9a96;

}
/* 文字 word */
.banner .banner_word{
	color:#fff;
	position:absolute;
	top:2.1rem;
	left:35%;
}
/* 信息 news */
.banner .banner_news img{
	width:2rem;
	height:2.2rem;
}
.banner .banner_news{
	position:absolute;
	top:1.5rem;
	right:5%;
}


/* property_con   住这儿的管理内容 */
.property_manage{
	clear:both;
}
/* property_con   住这儿的管理的每个小块 */
.property_manage a{
	
	width:49%;
	height:6rem;
	margin-top:0.4rem;
}
/* img size 小块图片的大小 */
.property_manage a div img{
	width:3rem;
	height:3rem;
}

/* every 每个小块的样式 */
.life{
	background:#97d35d;
	float:left;
}
.manage{
	background:#fcb6d9;
	float:right
}
.phone{
	background:#fab869;
	float:right
}
.parcel{
	background:#76f7d4;
	float:left;
}
/* word left小块里边的字和图片 */
.organize_left{
	color:#fff;
	float:left;
	width: 50%;
	margin-left:0.5rem;
}
.organize_left .one{
	margin-top:2rem;
	font-weight:bold;
}
.organize_left .two{
	font-size: 0.75rem;
	margin-top:0.2rem;
}
/* word right小块里边的字和图片 */
.organize_right{
	float:right;
	margin-top:1.88rem;
	margin-right:1.3rem;
}

/* content */
.content{
	width:100%;
	border-top:2px solid #e7e6e4;
	border-bottom:2px solid #e7e6e4;
	margin-bottom:4.9rem;
	clear:both;
}
.box{
	width:94%;
	margin:0 auto;
}
.box p{
	font:0.8rem/1.6rem 'Microsoft Yahei';
}
.name{
	width:100%;
	height:3rem;
}
.name img{
	display:block;
	width:1.6rem;
	margin-top:0.7rem;
}
.name span{
	font:0.8rem/3rem 'Microsoft Yahei';
}
.name span:first-of-type{
	margin:0 0.5rem;
}
.name span:nth-of-type(2){
	color:#a1a09e;
}
.name span:last-of-type{
	color:#ff9500;
}
.prompt{
	width:100%;
	display:block;
	margin-top:0.6rem;
}
.time{
	width:100%;
	height:3rem;
	font:0.8rem/3rem 'Microsoft Yahei';
	color:#888785;
}
/* fresh */
.fresh{
	clear:both;
	width:100%;
	height:3rem; 
	font:1rem/3rem 'Microsoft Yahei';
	padding-left:5%;
}

/* wuyeMe */
.myself{
	width:100%;
	height:19.75rem;
	background:url("../images/banner_two.jpg") no-repeat;
	background-size: 100% 100%;
	position: relative;
	clear:both;
}
/* wuye touxiang 物业我的里的头像 */
.myself_top{
	width:100%;
	height:19.75rem;
}


/* 上次的头像 */
.file {
	width:9.2rem;
	height:9.2rem;
	background:#fff;
	margin: 0 auto;
	position: relative;
	display: inline-block;
	background: white;
	border-radius:50%;
	overflow: hidden;
	text-decoration: none;
	text-indent: 0;
	margin-bottom: 0.65rem;
	line-height: 1rem;
	color: #000;
	top:3.2rem;
	left: 43%;
	margin-left: -2.35rem;
	clear:both;
}
/* 头像区域 */
.file p{
	width:1.4rem;
	height:1.4rem;
	background:#fff;
	border-radius:50%;
}
/* 输入的头像 */
.file input {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 999;
	right: 0;
	top: 0;
	opacity: 0;
}

/* 名称 */
.myself_word{
	text-align:center;
	position: absolute;
	bottom:2.6rem;
	left:40%;
}
.myself_word p:first-of-type{
	color:#fcfbf9;
	font-size:1.5rem;
}
.myself_word p:nth-of-type(2){
	color:#fcfbf9;
	font-size:1rem;
	margin-top:1rem;
}
/* 箭头 */
.arrow{
	width:0.75rem;
	height:1.2rem;
	position:absolute;
	right:1.6rem;
	font-size:2.6rem;
	color:#fff;
	line-height:2.8rem;
	cursor:pointer;
}

/* 身份和人数 */
.myself_now{
	height:7.2rem;
	width:100%;
	background:#fcfbf9;
	border-bottom:2px solid #e0ddda;
}
/* now_left */
.now_left{
	text-align:center;
	width:48%;
	height:7.2rem;
	border-right:2px solid #e0ddda;
	float:left;
}
.now_left p:first-of-type{
	margin-top:2.1rem;
}
.now_left p:nth-of-type(2){
	margin-top:0.25rem;
	color:#ef982f;
}
/* now_right */
.now_right{
	text-align:center;
	width:48%;
	height:7.2rem;
	float:right;
}

.now_right p:first-of-type{
	margin-top:2.1rem;
}
.now_right p:nth-of-type(2){
	margin-top:0.25rem;
	color:#ef982f;
}
.revise{
	width:100%;
	height:100%;
	background:#f5f3ef;
}
.self_means div{
	width:100%;
	height:4.8rem;
	background:#fff;
}
.self_means div:first-of-type{
	line-height:4.75rem;
	border-bottom:1px solid #e0ddda;
}
.self_means div:first-of-type span:first-of-type{
	float:left;
	font-size:1.8rem;
	color:#f39800;
	margin-left:1.35rem;
}
.self_means div:first-of-type span:nth-of-type(2){
	float:left;
	margin-left:25%;
	color:#3c3c3c;
	font-size:1.7rem;
}
.self_data{
	margin-top:1.2rem;
	width:90%;
	margin:0 auto;
	margin-top:5rem;
}
.self_data li{
	width:100%;
	height:4.8rem;
}

.self_data li input[type=text]{
	padding-left:0.8rem;
	border-radius:0.4rem 0.4rem;
	border:1px solid #f39800;
	background:#eee;
	width:20.3rem;
	height:3.4rem;
	margin-left:2.2rem;
	margin-top:1rem;
}
.self_data li input[type=radio]{
	margin-left:30%;
	margin-top:1.8rem;
}
.btn{
	text-align:center;
	color:#fff;
	width:20.3rem;
	height:3.4rem;
	border-radius:0.4rem 0.4rem;
	background:#577ba2;
	line-height:3.4rem;
	margin-left:13%;
	margin-top:1.5rem;
}

