
/* 清除浮动 */
.organize{
	clear:both;
	height: 0;
	transition: 1s;
	overflow: hidden;
}

/* 发布的input框 */
.organize .orgin{
	width:90%;
	height:3.8rem;
	margin-left:5%;
	box-sizing: border-box;
	margin-top:0.8rem;
	margin-bottom: 0.4rem;
	border:1px solid #3e3e3e;
	resize: none;
	outline:none;
	padding:2%;
}
.organize p{ width: 90%;
margin: 0 auto;
color: red;
opacity: 0;
font-family: "微软雅黑";}
/* 发布按钮 */
.orgin_btn{
	width:2.2rem;
	height:1.6rem;
	background:#7f8393;
	cursor:pointer;
	float:right;
	margin-right:0.9rem;
	margin-top:0.6rem;
	line-height:1.6rem;
	text-align:center;
	color:#fff;
	margin-bottom:0.8rem;
	border-radius:0.4rem 0.4rem;
}
.btns{ margin-top: 1.2rem;}
.topsbtn{ margin-top: 0.5rem;
margin-bottom: 1rem;}
.huodongbox{padding-top:3.6rem ;}
/* 清除浮动 */
.orgin_con{
	clear:both;
}

/* 发布的内容的盒子 */
.huodonguls{ padding-top: 3.6rem;}
.orgin_box{	
	margin:0 auto;
	width:90%;
	padding: 0.6rem;
	font-family: "微软雅黑";
	transition: 1s;
	box-sizing: border-box;
	border:1px solid #eee;
	box-shadow:2px 2px 5px #eee;
}

/* 人，时间，内容 */

.orgin_box p:nth-of-type(2) span:first-of-type{
	font-size:0.8rem;
	font-weight:700;

}
.orgin_box p:nth-of-type(3){
	width: 100%;
}
.orgin_box p:nth-of-type(3) span:first-of-type{
	font-weight:bold;
	margin-right: 0.3rem;
}

.orgin_box p:nth-of-type(4){
	margin-top:2rem;
	margin-left:0.8rem;
	margin-right:0.4rem;
	float:right;
}
.orgin_box p:nth-of-type(4) span{
	float:left;
}
.orgin_box p:nth-of-type(5) span{
	float:left;
}

.orgin_box p:nth-of-type(4) span:nth-of-type(2){
	margin-top:0.1rem;
	margin-left:0.2rem
}
.orgin_box p:nth-of-type(5) span:nth-of-type(2){
	margin-top:0.1rem;
	margin-left:0.2rem
}
.orgin_box p:nth-of-type(5){
	margin-top:2rem;
	margin-left:0.8rem;
	float:right;	
}

.orgin_box p span img{
	width:1rem;
	height:1rem;
}
.orgin_box p:first-of-type span:first-of-type{
	font-size:0.7rem;
		font-weight:800;
}
.orgin_box p:first-of-type span:nth-of-type(2){
	font-size:0.7rem;
	margin-left:0.4rem;
}

/* 返回按钮及信息 */
 .notice_editor{
	height:3.1rem;
	background:#46a1ff;
	line-height:3.1rem;
	text-align:center;
}
 .notice_editor span:nth-of-type(2){
	font-size:0.8rem;
	color:#fff;
}
 .notice_editor span:first-of-type{
	position:absolute;
	left:0.8rem;
	top:0.4rem;
}
 .notice_editor span:first-of-type img{
	width:1rem;
	height:1rem;
}



.lisfootcolor1{
	width: 90%;
height: 1.2rem;
line-height: 1.2rem;
color: white;
margin: 0 auto;
font-family: "微软雅黑";
text-align: center;
	background: red;
	margin-bottom:1rem;
}
.lisfootcolor2{
	width: 90%;
height: 1.2rem;
line-height: 1.2rem;
margin: 0 auto;
font-family: "微软雅黑";
text-align: center;
margin-bottom:1rem;
color: white;
	background: green;
}
.btnspan{display: none;}
