.del_top p:first-of-type,.del_top p:nth-of-type(3){
	width:0.622rem;
	height:0.1rem;
	background:red;
	margin-top:1.333rem;
	background:#f39800;
}
.del_top p:nth-of-type(2){
	margin-top:0.977rem;
	margin-left:0.8rem;
	margin-right:0.8rem;
	color:#656566;
}
.del_top p{
	float:left;
}
.del_top{
	margin:0 auto;
	width:5.5rem;
}
.deal_con{
	clear:both;
	width:12rem;
	margin:0 auto;
}
.deal_con .input{
	width:12rem;
	height:1.4rem;
	outline:none;
	border:2px solid #dfe0df;
	margin-top:0.4rem;
	color:#757474;
	padding-left:0.4rem;
}

.deal_con .input:first-of-type{
	margin-top:0.65rem;
}
.yz_bx{
	width:12.2rem;
	height:1.2rem;
	background:#e5e5e5;
	margin-top:0.8rem;
	padding-left:0.6rem;
	line-height:1.2rem;
}
.choose_box{
	height:2.733rem;
	border-bottom:2px solid #ecebeb;
}
.choose_box span{
	float:left;
	margin-top:1.2rem;
	margin-left:0.6rem;
	color:#757474;
}
.choose_box input{
	float:right;
	margin-top:1.2rem;
	width:1.2rem;
	height:1.2rem;
	margin-right:0.6rem;
}
.btn_area{
	width:12rem;
	height:4.2rem;
	outline:none;
	margin-top:0.6rem;
	border:1px solid #ecebeb;
	padding-left:0.4rem;
	padding-top:0.4rem;
	color:#757474;
}
.btn_boxs{
	width:12.5rem;
	height:1.5rem;
	margin-top:0.6rem;
	line-height:1.5rem;
	text-align:center;
	color:#fff;
	background:#ff6e40;
}

.baoxiu_box{	
	margin:0 auto;
	width:90%;
	padding:0.8rem;
	font-family: "微软雅黑";
	transition: 1s;
	box-sizing: border-box;
	border:1px solid #eee;
	margin-top: 1.1rem;
	box-shadow:2px 2px 5px #eee;
}
.baoxiu_box div span:first-of-type{
	margin-right:0.6rem;
}
.two{
	
	margin-top:0.4rem;
	margin-left:0.4rem;
}
.time{
	margin-left:4.5rem;
}

/* 
通知 
*/
.adds_con{
	height:7.666rem;
	border-bottom:1px solid #dfdfdf;
}
.adds_left{
	width:1.5777rem;
	height:1.5777rem;
	border-radius:50%;
	background:#9897fd;
	margin-top:0.3777rem;
	margin-left:0.6666rem;
	float:left;
	margin-right:0.444rem;
}
.adds_left img{
	width:0.8444rem;
	height:0.8444rem;
	margin-left:20%;
	margin-top:20%;


}
.adds_right{
	float:left;
}
.adds_right p:first-of-type{
	margin-top:0.3777rem;
	margin-bottom:0.4rem;
}
.adds_right p:first-of-type span{
	margin-right:0.6rem;
}
.adds_content{
	margin-top:0.4rem;
	width:11.222rem;
	height:3.422rem;
	background:#ebebeb;
	border-radius:0.5555rem 0.5555rem;
}
.adds_content p{
	width:10rem;
	height:100%;
	margin:0 auto;
	line-height:1.1rem;
	
}